<div id="searchComponent" class="col-xs-12" data-ng-cloak="$ctrl.searchReady">
    <div class="col-xs-12" data-ng-show="!$ctrl.searchReady">
        Loading Search Page...
    </div>
    <div class="col-xs-12" data-ng-show="$ctrl.searchReady">
        <div class="col-xs-2"></div>
        <div class="col-xs-10">
            <!-- <md-input-container>
                <input type="text" name="searchBox" id="searchBox" aria-label="searchBox" data-ng-model="$ctrl.searchCriteria.freeText" data-ng-keypress="$ctrl.searchOnEnter"
                />
            </md-input-container> -->
            <md-autocomplete md-input-name="seachAutoComplete" md-input-minlength="2" md-delay="150" md-input-maxlength="30" md-selected-item="$ctrl.searchCriteria.freeText"
                md-search-text="$ctrl.searchCriteria.autoCompleteSearchText" md-items="item in $ctrl.autocompleteItems" md-search-text-change="$ctrl.autoCompleteQuery($ctrl.searchCriteria.autoCompleteSearchText)"
                md-item-text="item" md-no-cache="true" md-floating-label="Enter Search String">
                <md-item-template>
                    <span >{{item}}</span>
                </md-item-template>
            </md-autocomplete>
            <md-button class="md-primary md-raised" id="searchButton" data-ng-click="$ctrl.search()">Search</md-button>
            <div class="col-xs-12" id="searchResults" data-ng-if="$ctrl.searchHits.length > 0">
                <table class="table table-reponsive">
                    <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="x in $ctrl.searchHits" data-ng-cloak>
                            <td><img alt="No Image" src="{{x.image}}" width="50px"/></td>
                            <td><a href="{{x.url}}" target="_blank">{{x.name}}</a></td>
                            <td>{{x.description}}</td>
                            <td>{{x.price | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- {{$ctrl.searchHits}} -->
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>